@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background-color: #e6e4e4;  
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 14px;
    width: 400px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.register-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 150px;
    font-size: 26px;
    background-color: #f0ecec; 
}

.register-content p {
    font-size: 10px;
    margin-bottom: 20px;
    color: #252323;
}

.register-content button {
    margin-top: 40px;
    padding: 8px;
    width: 120px;
    border: #252323;
    border-radius: 10px;
    background-color: #000;
    color: #e6e4e4;
    cursor: pointer;
}

.register-content button:hover {
    transition: 0.5s;
    background-color: #292626;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #9c9999;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000;
    padding: 100px 60px;
    height: 64vh;
    font-size: 18px;
    color: #ffff;
    background-color: #000;
    border-radius: 10px;
}

h2 {
    font-size: 60px;
    text-align: center;
}

.login-content button {
    padding: 10px;
    margin: 30px 0;
    border: 2px solid #252323;
    border-radius: 20px;
    color: #ffff;
    background-color: transparent;
    cursor: pointer;
}

.login-content button:hover {
    color: #e6e4e4;
    background-color: #252323;
    transition: 0.2s;
}

.login-content p {
    font-size: 12px;
    margin-bottom: 30px;
    color: #f0ecec;
    text-align: center;
}

a {
    text-align: center;
    text-decoration: none;
    color: #f0ecec;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
 





